*.iml
.gradle/
.gradle-local/
.android-local/
.kotlin/
/local.properties
/.idea/
/build/
/app/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
!dist/RootSync-v0.2.0-debug-arm64.apk
!dist/RootSync-v0.2.1-debug-arm64.apk
!dist/RootSync-v0.2.2-debug-arm64.apk
*.aab
/native/rsync/build-android/
/native/rsync/tmp/
/native/rsync/.gnupg/
